@model DanielBishop_CSCI3110_Project2_ProjectManager.Models.ViewModels.AssignRoleVM

@{
    ViewData["Title"] = "AssignRole";
}

<h1>AssignRole</h1>

<h4>AssignRoleVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignToRole" asp-controller="ProjectRole">
            <div class="form-group">
                <label class="control-label">Project Name: @Model.Project.Name</label>
                <input hidden name="projectId" value="@Model.Project.Id" />
            </div>
            <div class="form-group">
                <label class="control-label">Person Name: @Model.Person.FirstName @Model.Person.MiddleName @Model.Person.LastName</label>
                <input hidden name="personId" value="@Model.Person.Id" />
            </div>
            <div class="form-group">
                <select name="roleId">
                     @foreach (var role in Model.Roles)
                     {
                         <option value="@role.Id">@role.Name</option>
                     }
                </select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.Project.Id" class="btn btn-primary">Back to Project Details</a>
</div>

